#abt-bg {
  background-image: linear-gradient(to bottom right, #152032, #305fbe, #ec7787); }

#im-bg {
  background-color: #152032; }

@keyframes bjork {
  0% {
    transform: rotate(10deg); }
  50% {
    transform: rotate(-20deg); }
  100% {
    transform: rotate(10deg); } }

.card {
  width: 80vw;
  height: 50vh;
  min-height: 250px;
  margin: 0 auto;
  position: fixed;
  left: 10vw;
  top: 25vh;
  padding: 4vh 2vw 4vh 2vw;
  border-radius: 10px;
  background-color: #152032;
  text-align: center;
  border-radius: 20px;
  transition: 2s ease-out; }
  .card:hover {
    border: 3px solid #305fbe; }
  .card.flip {
    transform: rotateY(180deg); }
  .card-title, .card-subtitle, .card-icons, .card-line, .card-text {
    visibility: visible;
    transition: all 1s ease-out;
    transition-delay: 1s; }
    .card-title.hidden, .card-subtitle.hidden, .card-icons.hidden, .card-line.hidden, .card-text.hidden {
      opacity: 0;
      transition: all 1s ease-out;
      transition-delay: 0s;
      visibility: hidden; }

.card-nav .nav-item {
  visibility: hidden;
  opacity: 0; }
  .card-nav .nav-item.show {
    visibility: visible;
    transition-duration: 2s;
    transition-delay: 1.5s;
    opacity: 1; }
  .card-nav .nav-item .nav-link.current {
    color: #ec7787; }

@keyframes cardIn {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

.oh-my {
  width: 80vw;
  height: 50vh;
  min-height: 250px;
  margin: 0 auto;
  position: fixed;
  left: 10vw;
  top: 25vh;
  padding: 4vh 2vw 4vh 2vw;
  border-radius: 10px;
  background-image: linear-gradient(to right, rgba(48, 95, 190, 0.8), rgba(236, 119, 135, 0.8)); }

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 1s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 1s ease-out; }
  .menu-btn:hover .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #42ddf5;
    transition: all 1s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      background: #ec7787;
      transform: rotate(45deg) translate(9px, 9px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      background: #ec7787;
      transform: rotate(-45deg) translate(2px, -2px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #0d1520;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 1s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #152032;
    transform: translate3d(0, 100%, 0);
    transition: all 1s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 50%;
      height: 50%;
      background: url("../img/asset_3.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 1s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #ec7787; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    transition: all 1s ease-out; }
    .menu .nav-link:hover {
      color: #ec7787; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

* {
  box-sizing: border-box; }

body {
  background: #152032;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Sen', sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/bg_tiles.png);
    background-size: 33%; }

h1,
h2,
h3 {
  margin: 0; }
  h1.card-title,
  h2.card-title,
  h3.card-title {
    font-size: 3rem; }
  h1.card-subtitle,
  h2.card-subtitle,
  h3.card-subtitle {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 7vh; }

p {
  font-size: 11px; }
  p.pinklight {
    padding-top: 10px;
    color: #ec7787; }

a {
  text-decoration: none; }
  a.spec-direc {
    color: white; }

.abt-icons .fab {
  padding-right: 5px;
  color: white; }
  .abt-icons .fab:hover {
    color: #42ddf5;
    transition: all 1s ease-out; }

.card-icons .fab {
  color: #ec7787; }
  .card-icons .fab:hover {
    color: #305fbe;
    transition: all 1s ease-out; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #305fbe; }

main {
  min-height: 100vh;
  overflow: hidden; }
  main .card-line {
    width: 80%;
    margin: auto;
    z-index: 3;
    align-content: center;
    height: 3px;
    background: #ec7787; }
  main .abt-line {
    width: 80%;
    margin: auto;
    z-index: 3;
    align-content: center;
    height: 2px;
    background: #42ddf5; }
  main .card-icons {
    margin-top: 1rem;
    margin-bottom: 2rem; }
    main .card-icons a {
      padding: 0rem 0.5rem 0.5rem 0.5rem; }
      main .card-icons a:hover {
        color: #305fbe;
        transition: all 1s ease-out; }
  main .card-nav {
    width: 100%;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    list-style: none;
    position: fixed;
    margin-top: 38vh; }
    main .card-nav .nav-link {
      display: inline-block;
      font-size: 20px;
      padding: 1re, 0;
      font-weight: 300;
      color: white;
      text-decoration: none;
      transition: all 1s ease-out; }
      main .card-nav .nav-link:hover {
        color: #ec7787; }
  main#home, main#about {
    overflow: hidden; }

#about .wrapper {
  width: 80vw;
  height: 80vh;
  min-height: 250px;
  margin: 0 auto;
  position: fixed;
  left: 10vw;
  top: 10vh;
  padding: 4vh 2vw 4vh 2vw;
  display: grid;
  grid-template-areas: 'about spec';
  grid-template-columns: repeat(2, 1fr);
  gap: 3vw; }
  #about .wrapper .about-card {
    background-color: rgba(13, 21, 32, 0.8);
    grid-area: about;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vh 3vw 3vh 3vw;
    border-radius: 10px; }
    #about .wrapper .about-card .bio-image {
      margin: 15px 0px 10px 0px; }
    #about .wrapper .about-card p {
      margin-bottom: 5px;
      margin-top: 5px; }
    #about .wrapper .about-card.desc {
      margin-bottom: 10px; }
  #about .wrapper .specializations {
    grid-area: spec;
    display: grid;
    grid-template-areas: 'im' 'gd' 'il';
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    height: 100%;
    gap: 2vh;
    text-align: center; }
    #about .wrapper .specializations .im-card {
      grid-area: im;
      background: url("../img/asset_3.png");
      background-size: 80%;
      background-repeat: no-repeat;
      background-position-x: 4.5vw;
      background-position-y: calc(50% + .8vh); }
    #about .wrapper .specializations .gd-card {
      grid-area: gd;
      background: url("../img/asset_1.png");
      background-size: 200%;
      background-repeat: no-repeat;
      background-position-x: 50%;
      background-position-y: calc(50% - .5vh); }
    #about .wrapper .specializations .sa-card {
      grid-area: il;
      background: url("../img/asset_2.png");
      background-size: 58%;
      background-repeat: no-repeat;
      background-position-x: 50%;
      background-position-y: calc(50% + 1vh); }
    #about .wrapper .specializations .im-card,
    #about .wrapper .specializations .gd-card,
    #about .wrapper .specializations .sa-card {
      background-color: rgba(13, 21, 32, 0.8);
      display: flex;
      align-items: center;
      border-radius: 10px; }
      #about .wrapper .specializations .im-card-text,
      #about .wrapper .specializations .gd-card-text,
      #about .wrapper .specializations .sa-card-text {
        height: 100%;
        width: 100%;
        padding: 20px 15px 0px 15px;
        background-color: rgba(13, 21, 32, 0.8);
        border-radius: 10px;
        opacity: 0; }
        #about .wrapper .specializations .im-card-text:hover,
        #about .wrapper .specializations .gd-card-text:hover,
        #about .wrapper .specializations .sa-card-text:hover {
          opacity: 1;
          border: 3px solid #42ddf5;
          transition: all 1s ease-out; }
  #about .wrapper .bio-image {
    height: 88px;
    width: 88px;
    border-radius: 50%;
    border: #42ddf5 1px solid; }

#redirect .playground {
  width: 80vw;
  height: 50vh;
  min-height: 250px;
  margin: 0 auto;
  position: fixed;
  left: 10vw;
  top: 25vh;
  padding: 4vh 2vw 4vh 2vw;
  border-radius: 10px;
  background-color: rgba(13, 21, 32, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden; }
  #redirect .playground h3 {
    margin-bottom: 30px; }
  #redirect .playground .beachball {
    background-color: #fff;
    width: 50px;
    height: 50px;
    position: fixed;
    border-radius: 50%;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    z-index: 3;
    transition: 1s; }
  #redirect .playground .doggo {
    width: 100px;
    height: 100px;
    position: fixed;
    left: calc(100% - 10vw - 100px);
    top: calc(100% - 25vh - 100px);
    z-index: 2; }
  #redirect .playground .bork {
    transition: 1s; }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 70vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 18px; }
  .menu-branding {
    height: 30vh;
    transform: translate3d(100%, 0, 0); }
  .about-info {
    grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
    grid-template-columns: 1fr; } }

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh; } }
