//business card and flip
.card {
    @include centerCard;
    text-align: center;
    border-radius: 30px;
    //border: 3px solid $blue;
    transition: 2s ease-out;
    &:hover {
        border: 3px solid $blue;
    }
    &.flip {
        transform: rotateY(180deg);
    }
    &-title,
    &-subtitle,
    &-icons,
    &-line,
    &-text {
        visibility: visible;
        @include easeOut;
        transition-delay: 1s;
        &.hidden {
            opacity: 0;
            //transform: translateX(800px);
            @include easeOut;
            transition-delay: 0s;
            visibility: hidden;
        }
    }
}

.card-nav {
    .nav-item {
        visibility: hidden;
        //animation-name: card-in;
        opacity: 0;
        &.show {
            visibility: visible;
            //opacity: 0;
            //animation-name: cardIn;
            transition-duration: 2s;
            //@include easeOut;
            transition-delay: 1.5s;
            opacity: 1;
        }
    }
}

@keyframes cardIn {
    0% {
        opacity: 0;
        // visibility: visible;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}