// _ should be placed before "partial" files
//google font
//variables
$dark-blue: #152032; //#fff; //#152032; //a3bcdd
$blue: #305fbe; //#152032 //ec7787 //
$teal: #42ddf5;
$pink-color: #ec7787;
$show-home-image: true;
$home-image: url(../img/bg_tiles.png);
$background-opacity: 0.8;
@mixin easeOut {
    transition: all 1s ease-out;
}

*::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

*::-webkit-scrollbar-thumb {
    background-color: $pink-color;
}

*::-webkit-scrollbar-track {
    background: $dark-blue;
}

* {
    scrollbar-width: 3px;
    scrollbar-color: white $blue;
}

#abt-bg {
    //background-color: $blue;
    //height: 100%;
    background-image: linear-gradient(to bottom right, $dark-blue, $blue, $pink-color);
}

#im-bg {
    // animation-name: toDbPink;
    // animation-duration: 3s;
    // animation-fill-mode: forwards;
    background-image: linear-gradient(to bottom right, $dark-blue, $blue, $pink-color);
}

// #d-blue {
//     background-color: $dark-blue;
// }
@mixin background {
    @if $show-home-image {
        &#bg-img {
            background: $home-image;
            background-size: 33%;
        }
    }
}

//CARD SETTINGS
@mixin centerCard {
    width: 80vw;
    height: 50vh;
    min-height: 250px;
    margin: 0 auto;
    position: fixed;
    left: 10vw;
    top: 25vh;
    padding: 4vh 2vw 4vh 2vw;
    //background-color: rgba(darken($dark-blue, 5), $background-opacity);
    border-radius: 10px;
    //background-color: $dark-blue;
}

@mixin dualCard {
    width: 70vw;
    height: 70vh;
    min-height: 380px;
    margin: 0 auto;
    position: fixed;
    left: 15vw;
    top: 15vh;
    //padding: 4vh 2vw 4vh 2vw;
    //background-color: rgba(darken($dark-blue, 5), $background-opacity);
}

@mixin specCard {
    background-color: rgba(darken($dark-blue, 5), $background-opacity);
    //background-color: $blue;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    text-align: center;
    //padding: 3vh 3vw 3vh 3vw;
    border-radius: 10px;
}

@mixin specOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(darken($dark-blue, 5), $background-opacity);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    opacity: 0;
    &:hover {
        opacity: 1;
        border: 3px solid $teal; /////////////////////////////////////////FIX TEXT VISIBILITY
        .im-card-text,
        .ma-card-text,
        .sa-card-text {
            opacity: 1;
        }
        @include easeOut;
    }
}

//QUIRK SETTINGS--------------------------------------------------------
@mixin tv {
    position: sticky;
    height: 33vh;
    width: 30vw;
    background-color: $dark-blue;
    border-radius: 10px;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    @include easeOut();
    &.show {
        visibility: visible;
        z-index: 2;
        opacity: 1;
        @include easeOut();
    }
}

@mixin led {
    position: sticky;
    height: 90%;
    width: 90%;
    min-height: 200px;
    max-height: 40vh;
    background-color: $blue;
    margin: 15px 15px;
    //padding: 5px;
    bottom: 42vh;
    visibility: hidden;
    opacity: 0;
    //z-index: 2;
    overflow: hidden;
    .pinklight {
        font-size: 1rem;
        line-height: 1rem;
        padding-top: 10px;
    }
    .uline {
        text-decoration: underline;
    }
    p {
        margin: 5px 0px;
    }
}

@mixin button {
    height: 30px;
    width: 80%;
    border-radius: 10px;
    background-color: $dark-blue;
    font-size: .5rem;
    font-weight: 700;
    color: $pink-color;
    margin: 5px 0px;
    padding: 8px;
    border: 1px solid $pink-color;
    & a {
        text-decoration: none;
    }
    &:hover {
        color: $blue;
        border: 1px solid $blue;
        @include easeOut();
    } //text-align: center;
}

@mixin show {
    visibility: visible;
    opacity: 1;
    // @include easeOut;
}

@mixin shown {
    display: inline;
    visibility: visible;
    opacity: 1;
    //@include easeOut;
}

//LINE SETTINGS---------------------------------------------------------
@mixin line {
    width: 80%;
    margin: auto;
    z-index: 3;
    align-content: center;
}

@mixin semiline {
    width: 30%;
    height: 3px;
    z-index: 3;
    align-content: left;
}

@mixin tab {
    width: 100%;
    display: flex;
    z-index: 3;
    background-color: $teal;
}

//TEXT SETTINGS---------------------------------------------------------
@mixin specText {
    width: 100%;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    opacity: 0;
    h3 {
        font-weight: 700;
        font-size: 1rem;
    }
}

//ANIMATION SETTINGS---------------------------------------------------
@mixin hide {
    opacity: 0;
    @include easeOut;
    visibility: hidden;
}

@mixin hidden {
    opacity: 0;
    @include easeOut;
    visibility: hidden;
    display: none;
}

@keyframes bjork {
    0% {
        transform: rotate(10deg);
        // visibility: visible;
    }
    50% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

@keyframes spiral {
    0% {
        transform: rotate(0deg);
        // visibility: visible;
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes toDbPink {
    0% {
        background-image: linear-gradient(to bottom right, $dark-blue, $blue, $pink-color);
        // visibility: visible;
    }
    50% {
        background-image: linear-gradient(to bottom right, $dark-blue, $blue, $blue, $pink-color);
    }
    100% {
        background-image: linear-gradient(to bottom right, $blue, $pink-color);
    }
}

//set text color
@function set-text-color($color) {
    @if (lightness($color) > 40) {
        @return #000;
    }
    @else {
        @return #fff;
    }
}

//media query mixins
@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mediaMd {
    @media screen and (min-width: 501px) and (max-width: 768px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 770px) and (max-width: 1170px) {
        @content;
    }
}

@mixin mediaXL {
    @media screen and (min-width: 1171px) {
        @content;
    }
}