#portfolio {
    a {
        color: $pink-color;
        &:hover {
            color: $teal;
            border-bottom: 1px $pink-color solid;
            @include easeOut;
        }
    }
    h2 {
        text-align: center;
    }
    .scrolltop {
        font-size: 10px;
        color: white;
        position: fixed;
        z-index: 4;
        transform: rotate(-90deg);
        left: 7vw;
        top: 68vh;
        opacity: 0;
        display: none;
        &:hover {
            color: $pink-color;
            border-bottom: 0px;
        }
        &.show {
            @include shown;
            animation-name: in;
            animation-duration: 2s;
            animation-timing-function: ease-in;
            animation-fill-mode: forwards;
        }
    }
    .mininav {
        margin-top: 10vh;
        margin-left: 30vw;
        width: 40vw;
        position: fixed;
        opacity: 0;
        @include easeOut;
        a {
            width: 400px;
            text-align: center;
        }
        &.show {
            display: flex;
            justify-content: space-around;
            align-content: center;
            align-items: center;
            animation-name: in;
            animation-duration: 2s;
            animation-timing-function: ease-in;
            animation-fill-mode: forwards;
        }
        z-index: 5;
        a {
            color: white;
        }
    }
    .card {
        overflow: hidden;
        border: none;
        section {
            padding-top: 18vh;
        }
        .container {
            display: block;
            overflow-y: scroll;
            padding: 30px 30px;
            height: 100%;
            width: 100%;
        }
    }
    #top {
        height: 100%;
        width: 100%;
        margin: auto;
        .wrapper.body {
            margin: auto;
            width: 70%;
            height: 50px;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: space-evenly;
            a {
                width: 400px;
                text-align: center;
            }
        }
    }
    #web {
        text-align: left;
        width: 100%;
        display: flex;
        p {
            margin: auto;
        }
        img {
            width: 80%;
        }
        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-content: center;
            align-items: center;
            margin: 30px;
            div {
                padding-bottom: 20px;
            }
            // &.body {
            //     a {
            //         color: white;
            //     }
            // }
        }
    }
    #mma {
        .wrapper.head {
            margin: 150px auto;
            width: 80%;
        }
        .wrapper.body {
            display: flex;
            flex-direction: column;
            h3 {
                margin-top: 30px;
                margin-bottom: 100px;
            }
        }
        #one {
            img {
                width: 100%;
            }
            text-align: right;
        }
        #two {
            display: flex;
            flex-direction: column;
            align-items: left;
            text-align: left;
            img {
                width: 40%;
            }
        }
        #three {
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            img {
                width: 30%;
                margin-left: 3.5vw;
            }
        }
        #four {
            img {
                width: 80%;
            }
        }
        #five {
            display: flex;
            margin-bottom: 100px;
            img {
                width: 58%;
            }
            h3 {
                margin: auto auto;
            }
        }
    }
    #ill {
        .wrapper.body {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            img {
                margin: 1vw 1vw;
                height: 50vh;
                border-radius: 5px;
            }
        }
    }
}

@keyframes in {
    0% {
        opacity: 0;
    }
    // 50% {
    //     background-position-y: 50%;
    // }
    100% {
        opacity: 1;
    }
}