#portfolio {
    a {
        color: $pink-color;
        margin-top: 20px;
    }
    h2 {
        text-align: center;
    }
    .card {
        overflow-y: scroll;
        section {
            height: 100%;
            width: 100%;
        }
    }
    #web {
        text-align: left;
        width: 70%;
        p {
            margin: auto;
        }
    }
}

// @keyframes gdbg {
//     0% {
//         background-position-y: 0;
//     }
//     // 50% {
//     //     background-position-y: 50%;
//     // }
//     100% {
//         background-position-y: 130%;
//     }