//IMPROVEMENTS THAT CAN BE MADE
//Clean code
//Uniform transitions under config
//Prettify Navbar
@import 'config';
@import 'card';
@import 'specs';
@import 'menu';
@import 'mobile';
@import 'about';
@import 'portfolio';
* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $dark-blue;
    color: set-text-color($dark-blue);
    height: 100%;
    margin: 0;
    //font-family: 'Quando', serif;
    font-family: 'Sen', sans-serif;
    line-height: 1.5;
}

//FONT AND TEXT SETTINGS------------------------------
h1,
h2,
h3 {
    margin: 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: 400;
}

p {
    font-size: .75rem;
    &.pinklight {
        padding-top: 10px;
        //padding-bottom: 10px;
        color: $pink-color;
    }
}

a {
    text-decoration: none;
    font-style: inherit;
    &.spec-direc {
        color: white;
    }
}

.desc {
    font-size: .875rem;
    line-height: 1.25rem;
}

//////////////////////////////////////////////FIX THIS
.abt-icons {
    .fab {
        padding-right: 5px;
        &:hover {
            color: $teal;
            @include easeOut;
        }
        color: white;
    }
}

header {
    position: fixed;
    z-index: 2; //bigger number = more front
    width: 100%;
}

.text-secondary {
    color: $blue; //everything not in header
}

main {
    //padding: 3rem;
    min-height: 100vh;
    overflow: hidden; //no scrollbars
    //display: flex;
    //align-items: center;
    .abt-line {
        @include line;
        height: 2px;
        background: $teal;
    }
    &#home,
    &#about {
        overflow: hidden;
    }
}

.backdrop {
    height: 100vh;
    width: 100vw;
    position: fixed;
    @include loadBg;
    &.out {
        @include outBg;
    }
}

//------------------------------------------------------------
// A B O U T // 
//------------------------------------------------------------
// #about {
//     width: 100%;
//     .wrapper {
//         .eks {
//             position: fixed;
//             //left: -10px;
//             top: 5vh;
//             z-index: 3;
//         }
//         &-main,
//         &-im {
//             @include dualCard;
//             //overflow: hidden;
//             display: grid;
//             visibility: hidden;
//             opacity: 0;
//             transition: 1.5s ease-in-out;
//             min-height: 410px;
//             &.show {
//                 visibility: visible;
//                 opacity: 1;
//                 //gap: 3vw;
//                 .specializations {
//                     gap: 3vh;
//                 }
//             }
//         }
//         &-ma {
//             @include dualCard;
//             //overflow: hidden;
//             visibility: hidden;
//             opacity: 0;
//             transition: 1.5s ease-in-out;
//             min-height: 410px;
//             &.show {
//                 visibility: visible;
//                 opacity: 1;
//                 //gap: 3vw;
//                 .specializations {
//                     gap: 3vh;
//                 }
//             }
//             background-color: $dark-blue;
//             border-radius: 10px;
//             contain: strict;
//             .window {
//                 @include tab;
//                 justify-content: space-between;
//                 height: 30px;
//                 .tab {
//                     padding-left: 20px;
//                     flex-grow: 1;
//                     border: $dark-blue solid 0.5px;
//                     &.current {
//                         background-color: $blue;
//                     }
//                     &:hover {
//                         background-color: $pink-color;
//                         @include easeOut;
//                     }
//                 }
//             }
//             .ma-gd,
//             .ma-ux,
//             .ma-pd {
//                 display: none;
//                 opacity: 0;
//                 &.show {
//                     display: inline;
//                     opacity: 1;
//                     @include easeOut;
//                 }
//             }
//             .ma-gd {
//                 .container {
//                     width: 100%;
//                     height: 100%;
//                     position: fixed;
//                     display: flex;
//                     flex-direction: column;
//                     align-items: center;
//                     justify-content: center;
//                     img {
//                         height: 70%;
//                         margin-left: -70%;
//                         margin-top: -5%;
//                     }
//                     h3,
//                     p {
//                         line-height: 20px;
//                         margin: 0;
//                     }
//                 }
//             }
//         }
//         &-im {
//             background-color: rgba(darken($blue, 5), $background-opacity);
//             border-radius: 5px;
//             display: flex;
//             contain: strict;
//             .directional,
//             .functional {
//                 height: 100%;
//                 width: 17%;
//                 display: flex;
//                 flex-direction: row;
//                 align-items: center;
//                 justify-content: center;
//             }
//             .gamescreen {
//                 align-self: center;
//                 height: 80%;
//                 width: 66%;
//                 background-color: rgba(darken($dark-blue, 5), $background-opacity);
//                 border-radius: 5px;
//                 display: flex;
//                 flex-direction: column;
//                 align-items: center;
//                 justify-content: center;
//                 &-start {
//                     @include hidden;
//                     img {
//                         height: 60vh;
//                         &:hover {
//                             animation-name: spiral;
//                             animation-duration: 5s;
//                             animation-iteration-count: infinite;
//                             animation-timing-function: linear;
//                         }
//                     }
//                     h3 {
//                         text-align: center;
//                         align-self: center;
//                         transform: translateY(-8vh);
//                         //position: ab;
//                         z-index: 3;
//                     }
//                     &.show {
//                         @include shown;
//                     }
//                 }
//                 &-info {
//                     padding: 20px;
//                     @include hidden;
//                     &.show {
//                         @include shown;
//                     }
//                 }
//             }
//             .gamepad-btn {
//                 &.a,
//                 &.b {
//                     background-color: $pink-color;
//                     display: flex;
//                     height: 50px;
//                     width: 50px;
//                     border-radius: 50%;
//                     align-items: center;
//                     justify-content: center;
//                     // position: absolute;
//                 }
//                 .left {
//                     background-color: $pink-color;
//                     height: 30px;
//                     width: 45px;
//                     transform: translateX(2px);
//                     border-radius: 10% 50% 50% 10%;
//                 }
//                 .right {
//                     background-color: $pink-color;
//                     height: 30px;
//                     width: 45px;
//                     transform: translateX(-2px);
//                     border-radius: 50% 10% 10% 50%;
//                 }
//                 .up {
//                     background-color: $pink-color;
//                     height: 45px;
//                     width: 30px;
//                     transform: translateY(-5px);
//                     border-radius: 10% 10% 50% 50%;
//                 }
//                 .down {
//                     background-color: $pink-color;
//                     height: 45px;
//                     width: 30px;
//                     transform: translateY(5px);
//                     border-radius: 50% 50% 10% 10%;
//                 }
//                 &.b {
//                     transform: translateY(-30px);
//                 }
//                 &.a {
//                     transform: translateY(30px);
//                 }
//             }
//         }
//         // &-im {
//         //     background-color: rgba(darken($dark-blue, 5), $background-opacity);
//         //     border-radius: 10px;
//         //     grid-template-areas: 'desc info';
//         //     grid-template-columns: repeat(2, 1fr);
//         //     gap: 5vw;
//         //     padding: 6vh 3vw 4vh 3vw;
//         //     //padding: 30px;
//         //     .im-icons {
//         //         size: 30px;
//         //         margin: auto;
//         //     }
//         //     .gamepad {
//         //         // display: flex;
//         //         // flex-direction: row;
//         //         display: grid;
//         //         grid-template-areas: 'direc direc b a';
//         //         grid-template-columns: repeat(4, 1fr);
//         //         .directional {
//         //             grid-area: direc;
//         //         }
//         //         &-btn {
//         //             background-color: $blue;
//         //             &:hover {
//         //                 border: $teal 1px solid;
//         //                 @include easeOut;
//         //             }
//         //             &.a,
//         //             &.b {
//         //                 display: flex;
//         //                 height: 38px;
//         //                 width: 38px;
//         //                 border-radius: 50%;
//         //                 align-items: center;
//         //                 justify-content: center;
//         //                 // position: absolute;
//         //             }
//         //             &.left,
//         //             &.right,
//         //             &.up,
//         //             &.down {
//         //                 position: absolute;
//         //             }
//         //             &.up {
//         //                 transform: translate(55px, 20px);
//         //                 height: 45px;
//         //                 width: 30px;
//         //                 border-radius: 10% 10% 50% 50%;
//         //             }
//         //             &.down {
//         //                 height: 45px;
//         //                 width: 30px;
//         //                 transform: translate(55px, 80px);
//         //                 border-radius: 50% 50% 10% 10%;
//         //             }
//         //             &.left {
//         //                 height: 30px;
//         //                 width: 45px;
//         //                 transform: translate(10px, 60px);
//         //                 border-radius: 10% 50% 50% 10%;
//         //             }
//         //             &.right {
//         //                 height: 30px;
//         //                 width: 45px;
//         //                 transform: translate(85px, 60px);
//         //                 border-radius: 50% 10% 10% 50%;
//         //             }
//         //             &.a {
//         //                 grid-area: a;
//         //                 margin-left: 20%;
//         //                 margin-top: 38%;
//         //             }
//         //             &.b {
//         //                 grid-area: b;
//         //                 margin-left: 50%;
//         //                 margin-top: 80%;
//         //             }
//         //             // &.a,
//         //             // &.b {
//         //             //     &:hover {
//         //             //         border: $teal 1px solid;
//         //             //         @include easeOut;
//         //             //     }
//         //             // }
//         //         }
//         //     }
//         //     .gamescreen {
//         //         height: 66%;
//         //         min-height: 200px;
//         //         max-height: 40vh;
//         //         width: 100%;
//         //         background-color: $blue;
//         //         border-radius: 20px;
//         //         //overflow: hidden;
//         //     }
//         //     .im {
//         //         &-desc {
//         //             grid-area: desc;
//         //             display: flex;
//         //             flex-direction: column;
//         //             // contain: strict;
//         //             &-icons {
//         //                 @include led;
//         //                 @include easeOut;
//         //                 .semiline {
//         //                     @include semiline;
//         //                     background-color: $teal;
//         //                 }
//         //                 .tools {
//         //                     display: flex;
//         //                     flex-direction: row;
//         //                     flex-wrap: wrap;
//         //                     align-items: center;
//         //                     justify-content: space-between;
//         //                     align-content: center;
//         //                     i {
//         //                         margin: 30px 3px 0px 3px;
//         //                     }
//         //                 }
//         //                 &.show {
//         //                     @include show;
//         //                     overflow-y: scroll;
//         //                     //overflow-x: hidden;
//         //                 }
//         //             }
//         //             &-start {
//         //                 @include led;
//         //                 z-index: 2;
//         //                 .semiline {
//         //                     @include semiline;
//         //                     background-color: $teal;
//         //                 }
//         //                 p {
//         //                     padding-right: 10px;
//         //                 }
//         //                 //@include easeOut;
//         //                 &.show {
//         //                     @include show;
//         //                     overflow-y: scroll;
//         //                     //overflow-x: hidden;
//         //                 }
//         //             }
//         //             &-web {
//         //                 @include led;
//         //                 z-index: 2;
//         //                 .semiline {
//         //                     @include semiline;
//         //                     background-color: $teal;
//         //                 }
//         //                 p {
//         //                     padding-right: 10px;
//         //                 }
//         //                 //@include easeOut;
//         //                 &.show {
//         //                     @include show;
//         //                     overflow-y: scroll;
//         //                     //overflow-x: hidden;
//         //                 }
//         //             }
//         //             &-gd {
//         //                 @include led;
//         //                 z-index: 2;
//         //                 .semiline {
//         //                     @include semiline;
//         //                     background-color: $teal;
//         //                 }
//         //                 p {
//         //                     padding-right: 10px;
//         //                 }
//         //                 //@include easeOut;
//         //                 &.show {
//         //                     @include show;
//         //                     overflow-y: scroll;
//         //                     //overflow-x: hidden;
//         //                 }
//         //             }
//         //         }
//         //         &-info {
//         //             grid-area: info;
//         //             width: 100%;
//         //             &-head {
//         //                 margin-bottom: 5px;
//         //             }
//         //             // &-subhead {
//         //             //     text-align: right;
//         //             // }
//         //             &-subhead {
//         //                 font-weight: 400;
//         //             }
//         //             p {
//         //                 text-align: justify;
//         //             }
//         //         }
//         //     }
//         // }
//         &-main {
//             grid-template-areas: 'about spec';
//             grid-template-columns: repeat(2, 1fr);
//             gap: 0vw;
//             h3 {
//                 font-size: 1.2rem;
//             }
//             //overflow: hidden;
//             &.show {
//                 gap: 3vw;
//             }
//             .button {
//                 @include button;
//                 visibility: hidden;
//             }
//             .disclaimer {
//                 visibility: hidden;
//             }
//             .about-card {
//                 background-color: rgba(darken($dark-blue, 5), $background-opacity);
//                 padding: 3vh 3vw 3vh 3vw;
//                 //background-color: $dark-blue;
//                 grid-area: about;
//                 width: 100%;
//                 height: 100%;
//                 min-height: 430px;
//                 max-height: 70vh;
//                 display: flex;
//                 flex-direction: column;
//                 //align-items: center;
//                 border-radius: 10px;
//                 .bio-image {
//                     margin: 15px 0px 10px 0px;
//                     align-self: center;
//                 }
//                 & p {
//                     //line-height: 16px;
//                     margin-bottom: 5px;
//                     margin-top: 5px;
//                 }
//                 &.desc {
//                     margin-bottom: 10px;
//                 }
//             }
//             .specializations {
//                 grid-area: spec;
//                 display: grid;
//                 grid-template-areas: 'im' 'gd' 'il';
//                 grid-template-rows: repeat(3, 1fr);
//                 width: 100%;
//                 height: 100%;
//                 gap: 0vh;
//                 text-align: center;
//                 transition: 1.5s ease-in-out;
//                 // border-radius: 8%;
//                 // & h2,
//                 // .im-card-text {
//                 //     height: 100%;
//                 //     width: 100%;
//                 //     //padding-top: 8.5vh; IF CENTERED
//                 //     //padding-bottom: 0; IF CENTERED
//                 //     padding-top: 20px;
//                 //     background-color: rgba(darken($dark-blue, 5), $background-opacity);
//                 //     border-radius: 30px;
//                 //     opacity: 0;
//                 //     &:hover {
//                 //         opacity: 1;
//                 //         @include easeOut;
//                 //     }
//                 // }
//                 .im-card {
//                     grid-area: im;
//                     background: url('../img/asset_3.png');
//                     background-size: 80%;
//                     background-repeat: no-repeat;
//                     background-position: center;
//                     // background-position-x: 4.5vw;
//                     // background-position-y: calc(50% + .8vh);
//                 }
//                 .ma-card {
//                     grid-area: gd;
//                     background: url('../img/asset_1.png');
//                     background-size: 200%;
//                     background-repeat: no-repeat;
//                     background-position: center;
//                     // background-position-x: 50%;
//                     // background-position-y: calc(50% - .5vh);
//                 }
//                 .sa-card {
//                     grid-area: il;
//                     background: url('../img/asset_2.png');
//                     background-size: 70%;
//                     background-repeat: no-repeat;
//                     background-position: center;
//                     // background-position-x: 50%;
//                     // background-position-y: calc(50% + 1vh);
//                 }
//                 .im-card,
//                 .ma-card,
//                 .sa-card {
//                     @include specCard;
//                     &-text {
//                         @include specText;
//                     }
//                     .spec-card {
//                         @include specOverlay;
//                     }
//                 }
//             }
//             .bio-image {
//                 height: 88px;
//                 width: 88px;
//                 border-radius: 50%;
//                 border: $teal 1px solid;
//             }
//         }
//     }
//     // .im-tv {
//     //     @include tv;
//     //     left: 66vw;
//     //     top: 60vh;
//     //     display: flex;
//     //     flex-direction: column;
//     //     overflow: hidden;
//     //     //align-content: center;
//     //     //justify-content: center;
//     //     // background-image: url(../img/asset_3.png); //fix asset and then rotate on hover
//     //     // background-repeat: no-repeat;
//     //     // background-size: 70%;
//     //     // background-position: center;
//     //     .window {
//     //         @include tab;
//     //         flex-direction: column;
//     //         height: 3vh;
//     //         justify-content: center;
//     //         align-content: center;
//     //         p {
//     //             color: $blue;
//     //             font-size: 1rem;
//     //             font-weight: 700;
//     //             //margin: auto;
//     //             margin-right: 8px;
//     //             // margin-bottom: 
//     //             align-self: flex-end;
//     //         }
//     //         &:hover {
//     //             border: $pink-color 1px solid;
//     //             p {
//     //                 color: $pink-color;
//     //             }
//     //             @include easeOut;
//     //         }
//     //     }
//     //     img {
//     //         position: absolute;
//     //         height: 103%;
//     //         align-self: center;
//     //         z-index: 1;
//     //         &:hover {
//     //             animation-name: spiral;
//     //             animation-duration: 5s;
//     //             animation-iteration-count: infinite;
//     //             animation-timing-function: linear;
//     //         }
//     //     }
//     // }
// }
//------------------------------------------------------------
// PLAYGROUND // 
//------------------------------------------------------------
#redirect {
    .playground {
        @include centerCard;
        background-color: rgba(darken($dark-blue, 5), $background-opacity);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        overflow: hidden;
        h3 {
            margin-bottom: 30px;
        }
        .beachball {
            background-color: #fff;
            width: 50px;
            height: 50px;
            position: fixed;
            border-radius: 50%;
            left: calc(50% - 25px);
            top: calc(50% - 25px);
            z-index: 3;
            transition: 1s;
        }
        .doggo {
            // background: url('../img/asset_doggo.png');
            width: 100px;
            height: 100px;
            // background-size: cover;
            //background-color: darken($dark-blue, 5);
            position: fixed;
            left: calc(100% - 10vw - 100px);
            top: calc(100% - 25vh - 100px);
            z-index: 2;
        }
        .bork {
            visibility: hidden;
            opacity: 0;
            @include easeOut;
            &.show {
                visibility: visible;
                opacity: 1;
                animation-name: playBall;
                animation-duration: 2s;
                //animation-iteration-count: 1;
            }
        }
        .pet {
            position: fixed;
            left: calc(100% - 10vw - 110px);
            top: calc(100% - 25vh - 110px);
            color: $pink-color;
            z-index: 3;
            visibility: hidden;
            opacity: 0;
            @include easeOut;
            &.show {
                visibility: visible;
                animation-name: pats;
                animation-duration: 2s;
                //animation-iteration-count: 1;
            }
        }
        .hoop {
            width: 80px;
            height: 80px;
            position: fixed;
            border-radius: 50%;
            border: white 3px solid;
            left: calc(11vw);
            top: calc(60vh);
            visibility: hidden;
        }
    }
}

@keyframes pats {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes playBall {
    0% {
        tranform: rotate(-5deg);
        opacity: 0;
        color: red;
    }
    25% {
        transform: rotate(5deg);
        opacity: 1;
    }
    50% {
        transform: rotate(-5deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
        color: white;
    }
}

// .about-info {
//     display: grid;
//     grid-gap: 3vw;
//     grid-template-areas: 'bioimage bio bio' 'job1 job2 job3';
//     grid-template-columns: repeat(3, 1fr);
//     .bio-image {
//         height: 100%;
//         width: 100%;
//         // background: url('../img/profile_pic.png');
//         // background-size: contain;
//         // background-repeat: no-repeat;
//         grid-area: bioimage;
//         margin: auto;
//         border-radius: 50%;
//         border: $blue 3px solid;
//     }
//     .bio {
//         grid-area: bio;
//     }
//     .job-1 {
//         grid-area: job1;
//     }
//     .job-2 {
//         grid-area: job2;
//     }
//     .job-3 {
//         grid-area: job3;
//     }
//     .job {
//         background: lighten($dark-blue, 5);
//         padding: 0.5;
//         border-bottom: $blue 5px solid;
//     }
// }
// #main-footer {
//     text-align: center;
//     padding: 1rem;
//     background: darken($dark-blue, 10);
//     color: set-text-color($dark-blue);
//     height: 3vh;
// }
@import 'mobile'; //media query at the bottom because it should be run last