//IMPROVEMENTS THAT CAN BE MADE
//Clean code
//Uniform transitions under config
//Prettify Navbar
@import 'config';
@import 'card';
@import 'specs';
@import 'menu';
@import 'mobile';
@import 'about';
@import 'portfolio';
* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $dark-blue;
    color: set-text-color($dark-blue);
    height: 100%;
    margin: 0;
    //font-family: 'Quando', serif;
    font-family: 'Sen', sans-serif;
    line-height: 1.5;
}

//FONT AND TEXT SETTINGS------------------------------
h1,
h2,
h3 {
    margin: 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
    font-weight: 400;
}

p {
    font-size: .75rem;
    &.pinklight {
        padding-top: 10px;
        //padding-bottom: 10px;
        color: $pink-color;
    }
}

a {
    text-decoration: none;
    font-style: inherit;
    &.spec-direc {
        color: white;
    }
}

.desc {
    font-size: .875rem;
    line-height: 1.25rem;
}

//////////////////////////////////////////////FIX THIS
.abt-icons {
    .fab {
        padding-right: 5px;
        &:hover {
            color: $teal;
            @include easeOut;
        }
        color: white;
    }
}

header {
    position: fixed;
    z-index: 5; //bigger number = more front
    width: 100%;
}

.text-secondary {
    color: $blue; //everything not in header
}

main {
    //padding: 3rem;
    min-height: 100vh;
    overflow: hidden; //no scrollbars
    //display: flex;
    //align-items: center;
    .abt-line {
        @include line;
        height: 2px;
        background: $teal;
    }
    &#home,
    &#about {
        overflow: hidden;
    }
}

.backdrop {
    height: 100vh;
    width: 100vw;
    position: fixed;
    @include loadBg;
    &.out {
        @include outBg;
    }
}

//------------------------------------------------------------
// PLAYGROUND // 
//------------------------------------------------------------
#redirect {
    .playground {
        @include centerCard;
        background-color: rgba(darken($dark-blue, 5), $background-opacity);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        overflow: hidden;
        h3 {
            margin-bottom: 30px;
        }
        .beachball {
            background-color: #fff;
            width: 50px;
            height: 50px;
            position: fixed;
            border-radius: 50%;
            left: calc(50% - 25px);
            top: calc(50% - 25px);
            z-index: 3;
            transition: 1s;
        }
        .doggo {
            // background: url('../img/asset_doggo.png');
            width: 100px;
            height: 100px;
            // background-size: cover;
            //background-color: darken($dark-blue, 5);
            position: fixed;
            left: calc(100% - 10vw - 100px);
            top: calc(100% - 25vh - 100px);
            z-index: 2;
        }
        .bork {
            visibility: hidden;
            opacity: 0;
            @include easeOut;
            &.show {
                visibility: visible;
                opacity: 1;
                animation-name: playBall;
                animation-duration: 2s;
                //animation-iteration-count: 1;
            }
        }
        .pet {
            position: fixed;
            left: calc(100% - 10vw - 65px);
            top: calc(100% - 25vh - 95px);
            color: $pink-color;
            z-index: 3;
            visibility: hidden;
            opacity: 0;
            height: 16px;
            @include easeOut;
            &.show {
                visibility: visible;
                // opacity: 1;
                animation-name: pats;
                animation-duration: 5s;
                animation-iteration-count: infinite;
            }
        }
        .hoop {
            width: 80px;
            height: 80px;
            position: fixed;
            border-radius: 50%;
            border: white 3px solid;
            left: calc(11vw);
            top: calc(60vh);
            visibility: hidden;
        }
    }
}

@keyframes pats {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
        transform: translateY(-15px);
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes playBall {
    0% {
        tranform: rotate(-5deg);
        opacity: 0;
        color: red;
    }
    25% {
        transform: rotate(5deg);
        opacity: 1;
    }
    50% {
        transform: rotate(-5deg);
    }
    75% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
        color: white;
    }
}

// .about-info {
//     display: grid;
//     grid-gap: 3vw;
//     grid-template-areas: 'bioimage bio bio' 'job1 job2 job3';
//     grid-template-columns: repeat(3, 1fr);
//     .bio-image {
//         height: 100%;
//         width: 100%;
//         // background: url('../img/profile_pic.png');
//         // background-size: contain;
//         // background-repeat: no-repeat;
//         grid-area: bioimage;
//         margin: auto;
//         border-radius: 50%;
//         border: $blue 3px solid;
//     }
//     .bio {
//         grid-area: bio;
//     }
//     .job-1 {
//         grid-area: job1;
//     }
//     .job-2 {
//         grid-area: job2;
//     }
//     .job-3 {
//         grid-area: job3;
//     }
//     .job {
//         background: lighten($dark-blue, 5);
//         padding: 0.5;
//         border-bottom: $blue 5px solid;
//     }
// }
// #main-footer {
//     text-align: center;
//     padding: 1rem;
//     background: darken($dark-blue, 10);
//     color: set-text-color($dark-blue);
//     height: 3vh;
// }
@import 'mobile'; //media query at the bottom because it should be run last